@media all and (min-width: 480px) {
  .Login {
    padding: 30px;
  }

  .Text-Color{
    color: #000000;
  }

  .fontSize{
    font-size: 12px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}