.Login {
  padding: 30;
  text-align: center;
}

.root {
  flex-grow: 1;
}

.menubutton {
  margin-right: 2;
}

.title {
  flex-grow: 1;
}

.Text-Color {
  color: #000000;
}

.fontSize {
  font-size: 12px;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

a {
  font-size: 12px;
}
.formControl {
  margin: 1;
  min-width: 120;
}

.selectempty {
  margin-top: 2;
}
