.App {
  text-align: center;
}

.btn {
  height: 21px;
  line-height: 21px;
  text-align: center;
  width: auto;
  border: 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}*/

.button {
  margin: 20px;
  padding: 10px;
}

.body {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Side {
  display: inline-block !important;
}
