.App {
  text-align: center;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #eee;
}

.body {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Side {
  display: inline-block !important;
}

.footer {
  position: fixed;
  left: 42%;
  bottom: 0;
  text-align: center;
  padding: 30;
}

.formControl {
  margin: 1;
  min-width: 120;
}

.option {
  width: 250px;
  padding: 30;
  text-align: center;
  align-content: center;
  align-items: center;
}

.center {
  text-align: center;
  align-items: center;
  padding: 30;
  min-width: 120;
}

.cmb {
  display: block;
  margin: 0 auto;
}

.menuButton {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

.title {
  flex-grow: 1;
}

.card {
  width: 250;
  min-width: 250;
  max-width: 250;
  max-height: 250;
  min-height: 250;
  margin: 30;
}

.wid {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 200;
}

.divClass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.bg {
  background-image: url("./res/cool-background.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
